# Cheese Recommender

## EDA and Cleaning

In [14]:
import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
import unicodedata

Recommending cheese based on blah blah blah...  Cheese.com very lenient API

In [15]:
# took Adi Bronshtein's function for conducting exploratory data analysis and added spaces between each eda test
# using blank print statesments and \n for easier readability
def eda(dataframe):
    print("missing values: \n{}".format(dataframe.isnull().sum()))
    print()
    print("dataframe index: \n{}".format(dataframe.index))
    print()
    print("dataframe types: \n{}".format(dataframe.dtypes))
    print()
    print("dataframe shape: \n{}".format(dataframe.shape))
    print()
    print("dataframe describe: \n{}".format(dataframe.describe()))
    print()

    print("number of unique values in each column: ")
    for item in dataframe:
        print(item)
        print(dataframe[item].nunique())

In [16]:
#read fork_and_bottle.csv into 'chz_fork'
chz_fork = pd.read_csv('./data/fork_and_bottle.csv')

In [17]:
# function to strip strings of accents, from BartoszKP and oefe on StackOverflow
# https://stackoverflow.com/questions/517923/what-is-the-best-way-to-remove-accents-in-a-python-unicode-string

import unicodedata
def strip_accents(s):
   return ''.join(c for c in unicodedata.normalize('NFD', s)
                  if unicodedata.category(c) != 'Mn')

In [18]:
chz_fork

,Name,Milk,Region,Description
0,Abbaye de Belloc,sheep,FR,From the Pyrenees. Probably the cheese most re...
1,Abbaye de Citeaux,cow/R,FR,Produced by the monks of the Abbey of Saint Ni...
2,Abbaye de Tamie,cow,FR,Similar to Reblochon but larger - a pressed un...
3,Acappella,goat,"CA, US","Andante in Petaluma, CA. A small cheese with a..."
4,Affidelice,cow,FR,Made by Berthaudt in Burgundy. A washed rind c...
5,Aged Chelsea,goat,"MI, US",From Zingerman's Creamery. Mold ripened and ag...
6,Alpage Prattigau,cow,CH,A Rolf Beeler selection. Made from milk of cow...
7,Alta Robiola Bosina,c-s,IT,Cow and sheep's milk from Langhe/Piedmonte reg...
8,Amish Frolic,cow/r,"NJ, US",Made by a collaboration between Bobolink Dairy...
9,Appenzellar,cow,CH,"Gold or Black label??? Very nutty, spicy fin..."
10,Ardrahan,cow,IRL,"Neal’s Yard. Made by Mary Burns in Kanturk, Co..."
11,Ascutney Mountain,cow,"VT, US",Made by Cobb Hill from raw Jersey cows' milk. ...
12,Aseitao or Azeitao,sheep/r,SP,Semi-soft. Buttery. Pleasant.
13,Bachtelstein,cow,CH,"A cow’s milk cheese made in Girenbad, near Zur..."
14,Bagòss di Bagolino,cow/R,IT,Hard uncooked cheese made from part-skimmed mi...
15,Baita Friuli,cow,IT,Clean fruity taste. Firm. Aged about 5 months....
16,Bandon Vale,cow,IRL,Vintage Mature Irish Cheddar Lauragh Industral...
17,Barat,cow,"NY, US",Sprout Creek Farm. Artisanal cheese made from ...
18,Beaufort,cow,FR,An alpine cheese made from the milk given by t...
19,Bergblumenkase,cow/r,CH,"Means ""mountain flower'. A washed rind cheese..."
20,Bermuda Triangle,goat,"CA, US","From Cypress Grove. A small triangle, double r..."
21,Bethmale,c or g,FR,From the Pyrenees. Farmhouse cheese - rind has...
22,Bianco Sardo,sheep,IT,From Sardegna. A percorino style cheese. Good....
23,Bica,goat,PT,"Mixed Milk. A raw farmhouse cheese . Mild, but..."
24,Bishop's Blessing,wbuff,ENG,Farmstead cheese made from water buffalo milk ...
25,Black Gold,goat/p,"CA, US","Elk Grove Creamery in Fort Bragg, CA (associat..."
26,Black Mountain,cow,Wales,Made by Abergavenny and exported by Somerdale....
27,Blanc Bleu de Rizet,goat/r,FR,From Pascal Beillevaire
28,Blank Slate,cow,"WA, US",from Beechers. A honey'd farmer's cheese. Spre...
29,Bleu de Bocage,goat/p,FR,From Pascal Beillevaire
...,...,...,...,...
335,Tomme de Chataigneraie,goat/t,FR,From Puy-de-Dome in Auveryne. Aged up to 7 mon...
336,Tomme de Lucciana,sheep/r,FR,Herve Mons. An aged bloomy rind raw sheeps mil...
337,Tomme de Templiers,goat,FR,A Selection of Herve Mons. From Haut-Garonne. ...
338,Tommette de Yenne,cow/r,FR,From Rhones-Alpes. Hard whitish gray thick rin...
339,Tommette Morgee au Seyseel,c/g/r,FR,Herve Mons. From Haut Savoie.A small round of ...
340,Tornegus,cow/r,UK,"Duckett's Caerphilly marinated in herbs, brine..."
341,Torta Ambrose,cow,IT,A mild washed rind cheese with a creamy pate. ...
342,Torta del Casar,sheep,SP,It is produced in a small artisan dairy in the...
343,Tourmalet,sheep,FR,From the Pyrenees. Named after a mountain wher...
344,Toussaint,cow/p,"NY, US",From Sprout Creek Dairy in the Hudson River Va...
345,Trailhead,cow/p,"WA, US",from Mt. Townsend Creamery. A mountain-style t...
346,Tronchetto di Capra al Miele,goat,IT,Soft rindless goat cheese flavored with honey
347,Tronchon,g-c-s,SP,A mixed milk cheese from Spain with a white pa...
348,Tupi de Sort,cow/sh,SP,A standard in the diet of Catalán shepherds. C...
349,Two Rock,goat,"CA, US",DeBernardi Dairy in petaluma make small quanit...
350,Ubriaco all biarra rossa,cow/r,IT,From mitica - raw milk cow's cheese washed wit...
351,Ubriaco allo schioppettino,cow,IT,Also called Sot la Trape. Grape-must covered c...
352,Vacherin du Jura,cow,FR,Similar to the Mont d'Or in that it's wrapped ...
353,Vacherin Mont D’Or,cow,FR,Winter cheese wrapped in spruce bark (Gruyere ...
354,Valdeon,cow,SP,A Spanish blue cheese from Castille-Leon. Some...
355,Valencay,goat,FR,"A 4 sided, flat topped pyramid made from raw g..."
356,Vera Pagliettina,g-c-s,IT,From Piedmonte. Soft smooth oozing cheese with...
357,Vieux Lille,cow/r,FR,From Pascal Beillevaire
358,Vlaskaas,cow,NL,"Historically, produced for the Flemish harvest..."
359,Walder,cow/r,AU,Soft and firm with pea-sized holes. Mild flavo...
360,Wildmannli,cow,CH,A Beeler's selection. A tomme-style cheese. Ri...
361,Winchester Gouda -Super Aged,cow/p,"CA, US",Boere Kaas -(Farm-made) by Winchester Cheese. ...
362,Winnemere,cow/r,"VT, US",A new washed rind cheese from Jasper Hill wrap...
363,Wyfe of Bath,cow/R,ENG,The Fine Cheese Company UK. Gouda-style.
364,Zamarano,sheep,SP,A spanish dry sheep's milk cheese with hints o...

In [19]:
eda(chz_fork)

missing values:
Name           0
Milk           1
Region         0
Description    0
dtype: int64

dataframe index:
RangeIndex(start=0, stop=365, step=1)

dataframe types:
Name           object
Milk           object
Region         object
Description    object
dtype: object

dataframe shape:
(365, 4)

dataframe describe:
                         Name Milk Region              Description
count                     365  364    365                      365
unique                    362   34     43                      357
top     Caciotta al Rosmarino  cow     FR  From Pascal Beillevaire
freq                        2  136    124                        9

number of unique values in each column:
Name
362
Milk
34
Region
43
Description
357

In [20]:
chz_fork[chz_fork['Milk'].isnull()]

           Name Milk Region             Description
211  Moncenisio  NaN     IT  see Bleu de Moncenisio

In [21]:
# according to https://culturecheesemag.com/cheese-library/blu-del-moncenisio, Moncenisio is made from cow milk
chz_fork[chz_fork['Name'] == 'Moncenisio'] = chz_fork[chz_fork['Name'] == 'Moncenisio'].fillna('cow')

In [22]:
chz_fork[chz_fork['Name'] == 'Moncenisio']

           Name Milk Region             Description
211  Moncenisio  cow     IT  see Bleu de Moncenisio

In [23]:
eda(chz_fork)

missing values:
Name           0
Milk           0
Region         0
Description    0
dtype: int64

dataframe index:
RangeIndex(start=0, stop=365, step=1)

dataframe types:
Name           object
Milk           object
Region         object
Description    object
dtype: object

dataframe shape:
(365, 4)

dataframe describe:
                         Name Milk Region              Description
count                     365  365    365                      365
unique                    362   34     43                      357
top     Caciotta al Rosmarino  cow     FR  From Pascal Beillevaire
freq                        2  137    124                        9

number of unique values in each column:
Name
362
Milk
34
Region
43
Description
357

In [24]:
for i in chz_fork['Name']:
    if "(" in i:
        print(i)

Comte (badoz tunnel reserve)
Comté (Comte)
Gruyère (Gruyere)
Piave - Aged (Stravecchio/Vecchio)
Red Spruce (Cheddar)
Stanser Schafkase (Stanser Schafchäs)

In [25]:
chz_fork['Milk'].unique()

array(['sheep', 'cow/R', 'cow', 'goat', 'c-s', 'cow/r', 'sheep/r',
       'c or g', 'wbuff', 'goat/p', 'goat/r', 'cow/p', 'sheep/R', 'c/g/s',
       'g-s/r', 'c-g', 'c/R&P', 'cow/P', 'sheep/p', 'goat/R', 'c-g-s',
       'g-s', 'c-g/p', 'goat*', 'Sheep', 'g-c-s', 'c-gt/p', 'g-c/p',
       'cow?', 'cows', 'g-c', 'goat/t', 'c/g/r', 'cow/sh'], dtype=object)

In [26]:
chz_fork[chz_fork['Milk'] == 'c or g']

        Name    Milk Region                                        Description
21  Bethmale  c or g     FR  From the Pyrenees. Farmhouse cheese - rind has...

In [27]:
chz_fork['Description'][21]

'From the Pyrenees. Farmhouse cheese - rind has an leathery appearance. A mellow cheese providing a fruity spicy flavor and a somewhat pungent aroma which becomes stronger with age.'

In [28]:
# according to https://www.fromages.com/en/cheese/473-bethmale, this is a cow's milk cheese, raw, 
# pressed semi-hard cheese aged 2-3 months
chz_fork[chz_fork['Name'] == 'Bethmale'] = chz_fork[chz_fork['Name'] == 'Bethmale'].replace('c or g','cow')

In [29]:
chz_fork[chz_fork['Milk'] == 'c or g']

Empty DataFrame
Columns: [Name, Milk, Region, Description]
Index: []

In [32]:
chz_fork[chz_fork['Name'] == 'Bethmale']

        Name Milk Region                                        Description
21  Bethmale  cow     FR  From the Pyrenees. Farmhouse cheese - rind has...

In [33]:
chz_fork['Treatment'] = ''

In [34]:
chz_fork['Treatment'][21] = 'raw'

In [35]:
chz_fork[chz_fork['Name'] == 'Bethmale']

,Name,Milk,Region,Description,Treatment
21,Bethmale,cow,FR,From the Pyrenees. Farmhouse cheese - rind has...,raw

In [40]:
chz_fork[chz_fork['Milk'] == 'goat*']

,Name,Milk,Region,Description,Treatment
209,Minuet,goat*,"CA, US",A wonderful triple crème goat cheese from Anda...,

In [41]:
# this says its a goat + cow cheese
chz_fork['Description'][209]

"A wonderful triple crème goat cheese from Andante Dairy in Santa Rosa. which is enriched with cow's milk crème fraiche from Kendall Farms."

In [42]:
chz_fork[chz_fork['Name'] == 'Minuet'] = chz_fork[chz_fork['Name'] == 'Minuet'].replace('goat*','g-c')